<body>
  <app-user-navbar></app-user-navbar>

  <div class="searchproducts">
    <div class="search-container">
      <input type="text" placeholder="Search for products...">
      <button>Search</button>
      <select class="top-searches-dropdown">
        <option value="0">Categories...</option>
        <option value="phones-accessories">Phones & accessories</option>
        <option value="clothes">Clothes</option>
        <option value="handbags">Handbags</option>
        <option value="shoes">Shoes</option>
      </select>
    </div>
  </div>


  <div class="itemssection">

    <div class="card" *ngFor="let item of items">
      <img [src]="item.img" alt="">
      <p>{{ item.title }}</p>
      <br>
      <p>{{ item.description }}</p>
      <p class="price">{{ item.price }}</p>
      <button class="view-button" (click)="viewItem(item)">View</button>
    </div>


  </div>
</body>
