<body>
  <app-user-navbar></app-user-navbar>

  <div class="usercart">
    <div class="image">
      <img src="/headphones.png" alt="">
    </div>
    <div class="description">
      <div class="description2">The latest hot-selling P9 Pro Max TWS microphone noise-cancelling bass subwoofer fashion sports headphones</div>

      <div class="price"> Total : Ksh. 799</div>
      <div class="quantity">Quantity: <button>-</button> <span>1</span> <button>+</button></div>

      <button>Proceed to checkout</button>
    </div>
  </div>
</body>
