/* .hero {
width: 100%;
min-height: 100vh;
background-color: #eceaff;
color: #525252;
} */
nav {
  background-color: #1a1a1a;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo {
  width: 40px;
  height: 40px;
  border-radius: 40%;
}
.avatar {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 30px;
}
.sub-menu-wrap {
  position: absolute;
  top: 80px;
  right: 1%;
  width: 320px;
  max-height: 0px;
  transition: max-height 0.5s;
  overflow: hidden;
  z-index: 1;
}
.sub-menu-wrap.active {
  max-height: 400px;
}
.sub-menu {
  background: #fff;
  padding: 20px;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info h3 {
  color: red;
  font-size: 20px;
}
.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}
.sub-menu-link {
  display: flex;
  align-items: center;
  margin: 10px 0;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  gap: 10px;
}
.sub-menu-link i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.sub-menu-link p {
  width: 100%;
  font-size: 16px;
}
.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}
.sub-menu-link:hover span {
  transform: translateX(5px);
}
.sub-menu-link:hover p {
  font-weight: 600;
}
