<div class="container">
    <div class="overlay" *ngIf="showOverlay"></div>
    <div class="product-form" [ngClass]="{ 'visible': showProductForm }">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="heading">
                <h2>{{ editMode ? 'Update Product' : 'Add Product' }}</h2>
                <i class="pi pi-times" (click)="toggleProductForm()"></i>
            </div>
            <div class="form-group">
                <label for="product">Name</label>
                <input type="text" formControlName="name" required />
                <div *ngIf="f['name'].invalid && (f['name'].dirty || f['name'].touched)" class="error-message">
                    <p *ngIf="f['name'].errors?.['required']">Name is required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input name="description" id="description" cols="5" rows="3" formControlName="description" required>
                <div *ngIf="productForm.controls['description'].invalid && 
                                      (productForm.controls['description'].dirty || productForm.controls['description'].touched)"
                    class="error-message">
                    <p *ngIf="productForm.controls['description'].errors?.['required']">Description is required</p>
                </div>
            </div>
            <div class="price-quantity">
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" id="price" formControlName="price" />
                    <div *ngIf="f['price'].invalid && (f['price'].dirty || f['price'].touched)" class="error-message">
                        <p *ngIf="f['price'].errors?.['required']">Price is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="text" id="quantity" formControlName="quantity" />
                    <div *ngIf="f['quantity'].invalid && (f['quantity'].dirty || f['quantity'].touched)"
                        class="error-message">
                        <p *ngIf="f['quantity'].errors?.['required']">Quantity is required</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="images">Images</label>
                <input type="file" id="images" (change)="getImagesUrl($event)">
                <div *ngIf="spinnerVisible" class="spinner">
                    <i class="pi pi-spin pi-spinner" style="font-size: 1.2rem; color: blue; margin: 2px;"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select name="category" id="category" formControlName="category">
                    <option value="category 1">Category 1</option>
                    <option value="category 2">Category 2</option>
                    <option value="category 3">Category 3</option>
                </select>
            </div>
            <div class="form-group">
                <div class="buttons">
                    <button type="button" class="add btn" (click)="toggleProductForm()"><i
                            class="pi pi-times"></i>Cancel</button>
                    <button type="submit" class="update btn"><i class="pi pi-plus"></i>{{ editMode ? 'Update' : 'Add'
                        }}</button>
                </div>
            </div>
        </form>
    </div>

    <div class="table">
        <div class="table_header">
            <p>Manage Products</p>
            <div>
                <input placeholder="product" />
                <button class="add_new" (click)="  onAddProduct()">Add Product</button>
            </div>
        </div>
        <div class="table_selection">
            <table>
                <thead>
                    <tr>
                        <th>S No.</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>
                            <button class="edit" (click)="onEditProduct(product)"><i
                                    class="pi pi-pen-to-square"></i></button>
                            <button class="delete" (click)="onDeleteProduct(product)"><i
                                    class="pi pi-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <div><i class="pi pi-angle-double-left"></i></div>
            <div><i class="pi pi-angle-left"></i></div>
            <div>1</div>
            <div>2</div>
            <div><i class="pi pi-angle-right"></i></div>
            <div><i class="pi pi-angle-double-right"></i></div>
        </div>
    </div>
</div>