.main {
  background-color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
}

.container {
  display: flex;
  gap: 20px;
  background-color: #fff;
  width: 100%;
  max-width: 920px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #eff2ef;
  border-radius: 20px;
}
.header img {
  height: 100%;
  width: 80%;
  border-radius: 20px;
}

.container form {
  width: 50%;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-in {
  position: relative;
  margin-bottom: 15px;
}

.form-in label {
  display: block;
  margin-bottom: 5px;
}

.form-in input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 2px solid #ddd;
  border-radius: 10px;
  outline: none;
}

button {
  width: 100%;
  border: none;
  padding: 10px;
  background-color: #77b7cd;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #295580;
}

/* 
.form-in.success input,
.form-in.success textarea {
  border-color: #2ecc71;
}

.form-in.success .icon {
  color: #2ecc71;
}

.form-in.error input,
.form-in.error textarea {
  border-color: #e74c3c;
}

.form-in.error .icon,
.form-in.error input::placeholder,
.form-in.error textarea::placeholder {
  color: #e74c3c;
} */

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  border: 1px solid #888;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.success-message {
  color: green;
  text-align: center;
  top: 10%;
  background-color: #c9d6ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.error-message-top {
  color: red;
  text-align: center;
  top: 10%;
  background-color: #c9d6ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.error-message {
  color: red;
  text-align: left;
}
form p a {
  margin-top: 5px;
  text-decoration: none;
  cursor: pointer;
}
form p a:hover {
  color: blue;
}
@media screen and (max-width: 920px) {
  .container .header {
    display: none;
  }

  .container form {
    width: 100%;
  }
}
