<div class="container">
  <div class="getstartedbutton">
    <button class="styled-button" routerLink="/login">Get Started</button>
  </div>

  <div class="pictures-section full-width">
    <div class="pictures">
      <img src="/pictures1.png" alt="Great value">
      <p class="bold-text">Great value</p>
      <p>We offer competitive prices on our 10 million plus product range</p>
    </div>

    <div class="pictures">
      <img src="/pictures2.png" alt="Worldwide Delivery">
      <p class="bold-text">Worldwide Delivery</p>
      <p>With sites in 3 languages, we ship to over 20 countries & regions</p>
    </div>

    <div class="pictures">
      <img src="/pictures3.png" alt="Safe Payment">
      <p class="bold-text">Safe Payment</p>
      <p>Pay with the world’s most popular and secure payment methods.</p>
    </div>

    <div class="pictures">
      <img src="/pictures4.png" alt="Shop with Confidence">
      <p class="bold-text">Shop with Confidence</p>
      <p>Our Buyer Protection covers your purchase from click to delivery.</p>
    </div>

    <div class="pictures">
      <img src="/pictures5.png" alt="24/7 Help Center">
      <p class="bold-text">24/7 Help Center</p>
      <p>Round-the-clock assistance for a smooth shopping experience</p>
    </div>

    <div class="pictures">
      <img src="/pictures6.png" alt="Shop On-The-Go">
      <p class="bold-text">Shop On-The-Go</p>
      <p>Download the app and get the world of Shopie at your fingertips</p>
    </div>
  </div>

  <div class="shopieonline">
    <p class="bold-text">Shopie - Online Shopping in Kenya</p>
    <p>Shopie is Kenya's leading online shopping mall. It was launched in June 2014 with the mission of "Enriching Lives
      for Africa".</p>
    <p>Shopie serves a retail-customer base that continues to grow exponentially, offering products that span various
      categories including Electronics such as smartphones, laptops, subwoofers, Clothing, Home Appliances, Fashion
      bags, Baby Products, makeup, and much more. Shopie continues to expand the mall, with the scope of offerings that
      will increase in variety, simplicity, and convenience.</p>
    <p>The range of services is designed to ensure optimum levels of convenience and customer satisfaction with the
      retail process; order delivery-tracking, dedicated customer service support, and many other premium services. The
      company is highly customer-centric and committed to finding innovative ways of improving the customers' shopping
      experience.</p>
    <p>Now, shopping with Shopie App will bring you millions of cash rewards, best customer services, and track your
      order at any time. Download Shopie App APK and enjoy the best service online in Kenya.</p>
  </div>

  <div class="partners full-width">
    <div class="partners1">
      <p class="bold-text">Partnered with:</p>
    </div>
    <div class="partners2">
      <img src="Mpesa.png" alt="Mpesa">
      <img src="Airtel.png" alt="Airtel">
      <img src="kcb.png" alt="KCB">
      <img src="eco.png" alt="Eco">
      <img src="Credit.png" alt="Credit">
      <img src="lipa.png" alt="Lipa">
      <img src="visa.png" alt="Visa">
      <img src="master.png" alt="MasterCard">
      <img src="union.png" alt="UnionPay">
      <img src="ipay.png" alt="iPay">
    </div>
  </div>
</div>