<body>
  <div class="usercart" *ngIf="product">
    <div class="image">
      <img [src]="product.product_image" alt="">
    </div>
    <div class="description">
      <div class="description2">{{product.product_description}}</div>
      <div class="rating">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
      </div>
      <div class="price">{{product.product_price}}</div>
      <div class="quantity">Quantity: <button>-</button> <span>1</span> <button>+</button></div>

      <button (click)="addToCart()">Add to cart</button>
    </div>
  </div>
</body>