<body>
  <app-user-navbar></app-user-navbar>

  <div class="usercart" *ngIf="item">
    <div class="image">
      <img [src]="item.img" alt="{{item.title}}">
    </div>
    <div class="description">
      <div class="description2">{{item.description}}</div>
      <div class="rating">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
      </div>
      <div class="price">{{item.price}}</div>
      <div class="quantity">Quantity: <button>-</button> <span>1</span> <button>+</button></div>

      <button>Add to cart</button>
    </div>
  </div>
</body>
