<div class="main">
    <div class="container">
      <div class="header">
        <h3>Reset your password</h3>
        <img src="personalinfo.svg" alt="">
      </div>
      <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)">
        <h2>Reset Password</h2>
        <div *ngIf="successMessage" class="success-message">
          <p>{{ successMessage }}</p>
        </div>
        <div class="form-in">
          <label for="email">Email:</label>
          <input 
            id="email" 
            name="email" 
            ngModel 
            #email="ngModel" 
            type="email" 
            required 
            email 
          />
          <div *ngIf="email.invalid && email.touched" class="error-message">
            <div *ngIf="email.errors?.['required']">Email is required.</div>
            <div *ngIf="email.errors?.['email']">Enter a valid email.</div>
          </div>
        </div>
        <div class="form-in">
          <label for="password">New Password:</label>
          <input 
            id="password" 
            name="password" 
            ngModel 
            #password="ngModel" 
            type="password" 
            required 
            minlength="6" 
          />
          <div *ngIf="password.invalid && password.touched" class="error-message">
            <div *ngIf="password.errors?.['required']">Password is required.</div>
            <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters long.</div>
          </div>
        </div>
        <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
      </form>
    </div>
  </div>
  