:root {
    --hover-color: #6c63ff;
  }
  
  .main {
    background-color: #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
  }
  
  .container {
    display: flex;
    gap: 20px;
    background-color: #fff;
    width: 100%;
    max-width: 920px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #eff2ef;
    border-radius: 20px;
  }
  
  .header img {
    height: 100%;
    width: 80%;
    border-radius: 20px;
  }
  
  .container form {
    width: 50%;
  }
  
  form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-in {
    position: relative;
    margin-bottom: 15px;
  }
  
  .form-in label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-in input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
  }
  
  button {
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #77b7cd;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #295580;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    border: 1px solid #888;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    text-align: left;
  }
  
  form p a {
    margin-top: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #6c63ff;
  }
  
  form p a:hover {
    color: blue;
  }
  
  @media screen and (max-width: 920px) {
    .container .header {
      display: none;
    }
  
    .container form {
      width: 100%;
    }
  }
  
  .success-message {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }