<div class="main">
    <div *ngIf="successMessage" class="success-message">
        <div class="loading">
            <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
        </div>
        <p>{{ successMessage }}</p>
    </div>
    <div *ngIf="errorMessage" class="error-message-top">
        <i class="pi pi-times"></i>
        <p>{{ errorMessage }}</p>
    </div>
    <div class="container">
        <div class="header">
            <h3>Welcome to shopie</h3>
            <img src="personalinfo.svg" alt="">
        </div>
        <form id="mainForm" (ngSubmit)="login()" #loginForm="ngForm">
            <h2>Sign In</h2>
            <div class="form-in">
                <label for="email">Email</label>
                <input type="text" name="email" #email="ngModel" [(ngModel)]="signInObj.email" placeholder="Email"
                    required
                    pattern="(^\s*$|^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.(?:[a-zA-Z]{2}|com|org|net|edu|gov|mil|biz|info|mobi|name|aero|asia|jobs|museum)$)">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
                    <p *ngIf="email.errors?.['required']">Email is required</p>
                    <p *ngIf="email.errors?.['pattern']">Email is invalid</p>
                </div>
            </div>
            <div class="form-in">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Enter your password" autocomplete="off"
                    name="password" #password="ngModel" [(ngModel)]="signInObj.password" required>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
                    <p *ngIf="password.errors?.['required']">Password is required</p>
                </div>
            </div>
            <button type="submit" [disabled]="loginForm.invalid">Login</button>
            <p>Already have an account? <a routerLink="/register">Sign up</a></p>
            <p>Forgot password? <a routerLink="/forgot-password">Reset password</a></p>
        </form>
    </div>
</div>