<div class="main-container">
    <div class="container">
        <div class="img">
            <h3>sign In</h3>
            <img src="personalinfo.svg" alt="">

        </div>
        <div class="login-container">
            <form>
                <img src="profilepic.svg" class="avatar">
                <h2>Welcome</h2>
                <div class="input-div">
                    <div class="icon">
                        <i class="pi pi-user"></i>
                    </div>
                    <div class="div">
                        <input type="text" class="input" placeholder=" " required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="input-div two">
                    <div class="icon">
                        <i class="pi pi-key"></i>
                    </div>
                    <div class="div">
                        <input type="password" class="input" placeholder=" " required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <a routerLink="admin">Forgot Password?</a>
                <button type="submit" class="btn">Login</button>
            </form>
        </div>
    </div>
</div>